<link rel="stylesheet" href="/css/style.css">

<!-- Success -->
<% if(success && success.length) { %>
  <div class="row mt-3">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    </div>
  </div>
<% } %>

<!-- Error -->
<% if(error && error.length) { %>
  <div class="row mt-3">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    </div>
  </div>
<% } %>
