<footer class="mt-auto">
  <div class="f-info py-3">
    <div class="f-info-socials mb-2">
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; 2025 Wanderlust Pvt Ltd</div>
    <div class="f-info-links d-flex flex-wrap gap-3 justify-content-center">
      <a href="/privacy" target="_blank">Privacy Policy</a>
      <a href="https://merchant.razorpay.com/policy/RCoUbz40odWfOt/terms" target="_blank">Terms & Conditions</a>
      <a href="https://merchant.razorpay.com/policy/RCoUbz40odWfOt/refund" target="_blank">Cancellation & Refunds</a>
      <a href="https://merchant.razorpay.com/policy/RCoUbz40odWfOt/contact_us" target="_blank">Contact Us</a>
      <a href="/about" target="_blank">About</a>
    </div>
  </div>
</footer>
