<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/style.css">

<div class="container my-4">
  <div class="mx-auto" style="max-width: 800px;">
    <h3 class="text-center mb-4">Create a New Listing</h3>

    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required />
        <div class="valid-feedback">Title Looks good!</div>
        <div class="invalid-feedback">Please Enter a valid Title.</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter description" class="form-control" rows="4" required></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please Enter a short Description.</div>
      </div>

      <!-- Image Upload -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input name="listing[image]" type="file" class="form-control" required />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Price & Country -->
      <div class="row">
        <div class="mb-3 col-12 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" placeholder="₹ 12,000" class="form-control" required />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please Enter a Valid Price.</div>
        </div>
        <div class="mb-3 col-12 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" placeholder="Ex- India" type="text" class="form-control" required />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please Enter Country Name.</div>
        </div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Ex- Jaipur, Rajasthan" type="text" class="form-control" required />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter Location.</div>
      </div>

      <!-- Submit -->
      <div class="text-center">
        <button class="btn btn-dark add-btn px-4">Add</button>
      </div>

    </form>
  </div>
</div>
