<% layout("/layouts/boilerplate") %>

<div class="container my-4">
  <div class="row">
    <div class="col-12 col-md-3 mb-4">
      <div class="card shadow-sm p-3 rounded-3 h-100">
        <div class="text-center">
          <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" 
               alt="User Avatar" class="img-fluid rounded-circle mb-3" width="100">
          <h5 class="mb-1"><%= user.username %></h5>
          <p class="text-muted small"><%= user.email %></p>
        </div>
        <hr>
        <ul class="list-group list-group-flush border-0">
            <li class="list-group-item border-0">
              <a href="/listings" class="text-dark text-decoration-none">
                <i class="fa-solid fa-house me-2 text-danger"></i>Wanderlust Home
              </a>
            </li>
            <li class="list-group-item border-0">
              <a href="/listings/new" class="text-dark text-decoration-none">
                <i class="fa-solid fa-plus me-2 text-success"></i>Add Listing
              </a>
            </li>
            <li class="list-group-item border-0">
              <a href="/my-listings" class="text-dark text-decoration-none">
                <i class="fa-solid fa-list-check me-2 text-info"></i>My Listings
              </a>
            </li>
            <li class="list-group-item border-0">
              <a href="/settings" class="text-dark text-decoration-none">
                <i class="fa-solid fa-gear me-2 text-warning"></i>Account Settings
              </a>
            </li>
            <li class="list-group-item border-0">
              <a href="/trust-and-safety" class="text-dark text-decoration-none">
                <i class="fa-solid fa-shield-halved me-2 text-primary"></i>Trust & Safety
              </a>
            </li>
            <li class="list-group-item border-0">
              <a href="/logout" class="text-danger text-decoration-none">
                <i class="fa-solid fa-right-from-bracket me-2"></i>Logout
              </a>
            </li>
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-9">
      <div class="card shadow-sm p-4 rounded-3">
        <h4 class="mb-3">Welcome, <%= user.username %> 👋</h4>
        <p class="lead">Here is your personalized dashboard. Manage your account and activities easily.</p>

        <div class="row g-3 mt-2">
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="card text-center p-3 shadow-sm rounded-3 h-100">
              <h6>My Listings</h6>
              <p class="small">View and manage your added properties.</p>
              <a href="/my-listings" class="btn btn-primary btn-sm mt-auto">View</a>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <div class="card text-center p-3 shadow-sm rounded-3 h-100">
              <h6>All Listings</h6>
              <p class="small">Browse listings shared by our community.</p>
              <a href="/listings" class="btn btn-info btn-sm mt-auto">View</a>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <div class="card text-center p-3 shadow-sm rounded-3 h-100">
              <h6>Add New</h6>
              <p class="small">Create a new listing and share with others.</p>
              <a href="/listings/new" class="btn btn-success btn-sm mt-auto">Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
